body {
    background-color: rgb(29, 29, 29);
}

.appNav {
    width: 100dvw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.iconBrand {
    height: 50%;
    margin: 0px 40px;
}

.iconCompra {
    height: 40%;
    margin: 0px 40px;
}

.divItem {
    display: flex;
    justify-content: space-evenly;
    width: 90dvw;
    margin: 50px auto;
}

.item {
    border-radius: 8px;
    overflow: hidden;
    border: 0px solid;
    width: 220px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    background-color: rgb(221, 221, 221);
}

.item h3 {
    padding: 0px 10px;
}

.item p {
    letter-spacing: 2px;
    font-size: 1.2rem;
}

.item img {
    width: 100%;
}

.itemInfo {
    text-align: center;
}

.itemBtn {
    width: 100%;
    padding: 10px 0;
}

.carritoContainer {
    font-family: 'Roboto';
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(224, 224, 224);
    border: 1px solid #818181;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    height: 80dvh;
    z-index: 100;
    line-height: 3rem;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.cartList {
    list-style: none;
    padding: 0;
}

.cartList li {
    margin-bottom: 10px;
}